<table class="table">
    <thead>
        <th>#</th>
        <th>Type</th>
        <th>Name</th>
        <th>Action</th>
    </thead>
    <tbody>
        <!-- Normal Data -->
        <tr ng-repeat="prob in gate.problemList | orderBy: 'ind' ">
            <td>{{$index+1}}</td>
            <td>{{prob.type}}</td>

            <td ng-if="prob.type === 'Text'">{{prob.textTitle}}</td>

            <td ng-if="prob.type === 'Problem'">{{prob.platform}} {{prob.pid}} - {{prob.name}}</td>

            <!-- This needs to be shown to admin only -->
            <td>
                <a ng-if="prob.type === 'Problem'" class="btn btn-primary" href="{{prob.link}}" target="_blank">Solve It</a>
                <button ng-if="prob.type === 'Problem'" class="btn btn-danger" ng-click="gate.edit.prob = prob; gate.edit.mode='readHint'" >Hints</button>

                <button ng-if="prob.type === 'Text'" class="btn btn-primary" ng-click="gate.edit.prob = prob; gate.edit.mode='readText'" >Read It</button>

                <span ng-if="gate.isLoggedIn()">
                    <button class="btn btn-primary" ng-click="gate.editProblem(prob)">Edit</button>
                    <button class="btn btn-danger" ng-click="gate.deleteProblem(prob )">Delete</button>
                </span>
            </td>

        </tr>
    </tbody>
</table>
