<form>
    <h2 class="text-center">Edit Mode : <span class="text-danger">{{gate.edit.prob._id}}</span></h2>

    <div class="row">
        <div class="form-group col-md-3">
            <label for="edit-form-section">Section: </label>
            <input id ="edit-form-section" type="number" step="any" class="form-control" ng-model="gate.edit.prob.section">
        </div>
        <div class="form-group col-md-3">
            <label for="edit-form-chapter">Chapter: </label>
            <input id ="edit-form-chapter" type="number" step="any" class="form-control" ng-model="gate.edit.prob.chapter">
        </div>
        <div class="form-group col-md-3">
            <label for="edit-form-task">Task: </label>
            <input id ="edit-form-task" type="number" step="any" class="form-control" ng-model="gate.edit.prob.task">
        </div>

        <div class="form-group col-md-3">
            <label for="edit-form-type">Select Type</label>
            <select id="edit-form-type" class="form-control" ng-model="gate.edit.prob.type" required>
                <option value="Text" >Text</option>
                <option value="Problem">Problem</option>
            </select>
        </div>
    </div>

    <!-- Text Material -->
    <div ng-if="gate.edit.prob.type === 'Text' ">
        <div class='form-group' >
            <label for="edit-form-text-title">Text Title</label>
            <input type="text" id="edit-form-text-title" class="form-control" ng-model="gate.edit.prob.textTitle">
        </div>
        <div class="row">
            <div class='form-group col-md-6' >
                <label for="edit-form-text-body">Text Area</label>
                <textarea rows="10" id="edit-form-text-body" class="form-control" ng-model="gate.edit.prob.textBody"></textarea>
            </div>
            <div class="form-group col-md-6">
                <label>Preview</label>
                <textarea rows="10" disabled class="form-control" ng-model="gate.edit.prob.textBody"></textarea>
            </div>
        </div>
    </div>

    <!-- Problem Material -->
    <div ng-if="gate.edit.prob.type === 'Problem' ">

        <div class="row">
            <div class="form-group col-md-4">
                <label for="edit-form-oj">Platform</label>
                <select id="edit-form-oj" class="form-control" ng-model="gate.edit.prob.platform">
                    <option value="UVa">UVa</option>
                    <option value="CF">CodeForce</option>
                    <option value="SPOJ">SPOJ</option>
                </select>
            </div>

            <div class="form-group col-md-4">
                <label for="edit-form-pid">Problem ID</label>
                <input type="text" id="edit-form-pid" class="form-control" ng-model="gate.edit.prob.pid">
            </div>
    
            <div class="form-group col-md-4">
                <label for="edit-form-name">Problem Name</label>
                <input type="text" id="edit-form-name" class="form-control" ng-model="gate.edit.prob.name">
            </div>
        </div>


        <div class="form-group">
            <label for="edit-form-link">Link</label>
            <input type="text" id="edit-form-link" class="form-control" ng-model="gate.edit.prob.link">
        </div>

        <div class="row">
            <div class='form-group col-md-6' >
                <label for="edit-form-hint">Hint</label>
                <textarea rows="10" id="edit-form-hint" class="form-control" ng-model="gate.edit.prob.hint"></textarea>
            </div>
            <div class="form-group col-md-6">
                <label>Preview</label>
                <textarea rows="10" disabled class="form-control" ng-model="gate.edit.prob.hint"></textarea>
            </div>
        </div>

    </div>

    <div>
        <button class="btn btn-primary" ng-click="gate.saveProblem()" ng-disabled="vm.disable">Save</button>
        <button class="btn btn-danger" ng-click="gate.edit.mode = 'display'" ng-disabled="vm.disable">Cancel</button>
    </div>
</form>
