body {
    font-size: 18px;
}

.v-center {
  position: relative;
  transform: translateY(50%);
}

.page-header {
    margin-top: 10px;
}

.icons {
    height: 75px;
    width:  75px;
}

.displayControl button {
    font-size: 20px;
}

.display {
    margin: 0 auto;
    max-width: 600px;
    color: gray;
}
