<div>
    <h2 class="text-center">Problem Setting Archive</h2>

    <table class="table table-hover">
        <thead>
            <th>#</th><th>Name</th><th>Used In</th>
            
            <th ng-if="pset.isLoggedIn()">Admin</th>
        </thead>
        <tbody>
            <tr ng-repeat="problem in pset.problems | orderBy:'index'" >

                <!-- When not editing, display normal data -->
                <td ng-if="problem._id !== pset.edit.id" >{{problem.index}}</td>
                <td ng-if="problem._id !== pset.edit.id" >{{problem.name}}</td>
                <td ng-if="problem._id !== pset.edit.id" >{{problem.usedIn}}</td>


                <!-- During Editing Display Form for Edit -->
                <td ng-if="problem._id === pset.edit.id" >
                    <input type="number" ng-model="problem.index">
                </td>
                <td ng-if="problem._id === pset.edit.id" >
                    <input type="text" ng-model="problem.name">
                </td>
                <td ng-if="problem._id === pset.edit.id" >
                    <input type="text" ng-model="problem.usedIn">
                </td>

                <!-- Admin Control -->
                <td ng-if="pset.isLoggedIn()">
                    <button ng-if="pset.edit.mode === 0" class="btn btn-primary" ng-click="pset.startEdit( problem._id )">Edit</button>
                    <button ng-if="pset.edit.mode === 1 && pset.edit.id === problem._id" class="btn btn-primary" ng-click="pset.doneEdit()">Done</button>

                    <button ng-if="pset.edit.mode === 0" class="btn btn-danger" ng-click="pset.deleteProblem(problem._id, $index )">Delete</button>
                </td>
            </tr>

            <!-- New Row with Inputs for Adding Problems -->
            <tr ng-if="pset.isLoggedIn()">
                <td><input type="number" ng-model="pset.form.index"></td>
                <td><input type="text" ng-model="pset.form.name"></td>
                <td><input type="text" ng-model="pset.form.usedIn"></td>
                <td><input type="submit" ng-click="pset.insertProblem()" ng-disabled="pset.disable" value="Submit"></td>
            </tr>

        </tbody>
    </table>
</div>
